* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.logo {
  display: flex;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}

img {
  width: auto;
  height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-visual-text {
  padding-top: 200px;
  color: #FAFAFA;
  text-align: center;
}

.main-visual-text h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-text p {
  font-size: 20px;
}



.portfolio {
  background-color: #ECEFF1;
  color: #000000;
  text-align: center;
}

.portfolio-text h1 {
  font-size: 32px;
  padding-top: 90px;
  text-align: center;
}
.portfolio-text hr {
  width: 70px; /* 横幅を70pxに指定 */
  height: 0; /* 高さを0に指定（水平線） */
  border: none; /* 境界線を無効化 */
  border-top: 3px solid #EC715F; /* 上側に3pxの実線を表示 */
  margin-top: 8px; /* 上部に8pxのマージンを追加 */
  margin-left: auto;
  margin-right: auto;
}

.portfolio-text p {
  font-size: 16px;
  padding: 30px 0;
}

.portfolio-contents {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.image-box {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.image-box:nth-child(odd) {
  margin-bottom: 10px;
}


.image-box:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-box:nth-child(2) {
  background-image: url(img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-box:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.image-box:nth-child(4) {
  background-image: url(img/webcamp.png);
  margin-right: 10px;
  margin-bottom: 90px;
}

.image-box:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin-right: 10px;
  margin-bottom: 90px;
}

.image-box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  margin-bottom: 90px;
}